<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>竹种资源数据提取系统</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">竹种资源数据提取系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/user/manage">用户管理</a></li>

        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="/static/layui/images/face/system/user.jpg" class="layui-nav-img">
                    大鱼
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/person/personal">基本资料</a></dd>
                    <dd><a href="/user/password">修改密码</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">数据</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/data/spider">数据爬取</a></dd>
                        <dd><a href="/data/upload">数据上传</a></dd>
                        <dd><a href="/data/process">数据预处理</a></dd>
                        <!--                        <dd><a href="javascript:;">数据清理</a></dd>-->
                        <!--                        <dd><a href="">超链接</a></dd>-->
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">模型识别</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/regonition/regonized">识别处理</a></dd>
                        <dd><a href="javascript:;">预测结果</a></dd>
                        <!--                        <dd><a href="">超链接</a></dd>-->
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">数据抽取</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/extraction/extract">实体抽取</a></dd>
                        <dd><a href="javascript:;">抽取结果</a></dd>
                        <!--                        <dd><a href="">超链接</a></dd>-->
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 30px;">
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>用户名</th>
                    <th>加入时间</th>
                    <th>密码</th>
                    <th>个性签名</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>大鱼</td>
                    <td>2020-03-01</td>
                    <td>123456</td>
                    <td>每天都在变瘦的大鱼</td>
                </tr>
                <tr>
                    <td>虾米</td>
                    <td>2020-12-16</td>
                    <td>123456</td>
                    <td>我的心是旷野的鸟,在你的眼睛里找到了它的天空</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script src="/static/layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>
</body>
</html>