<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>竹种资源数据提取系统</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">竹种资源数据提取系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">用户管理</a></li>

        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="static/layui/images/face/system/user.jpg" class="layui-nav-img">
                    大鱼
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">修改密码</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">数据</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/data/upload">数据上传</a></dd>
                        <dd><a href="javascript:;">数据预处理</a></dd>
                        <!--                        <dd><a href="javascript:;">数据清理</a></dd>-->
                        <!--                        <dd><a href="">超链接</a></dd>-->
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">模型识别</a>
                    <!--                    <dl class="layui-nav-child">-->
                    <!--                        <dd><a href="javascript:;">识别处理</a></dd>-->
                    <!--                        <dd><a href="javascript:;">预测结果</a></dd>-->
                    <!--                        &lt;!&ndash;                        <dd><a href="">超链接</a></dd>&ndash;&gt;-->
                    <!--                    </dl>-->
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">数据抽取</a>
                    <!--                    <dl class="layui-nav-child">-->
                    <!--                        <dd><a href="javascript:;">实体抽取</a></dd>-->
                    <!--                        <dd><a href="javascript:;">抽取结果</a></dd>-->
                    <!--                        &lt;!&ndash;                        <dd><a href="">超链接</a></dd>&ndash;&gt;-->
                    <!--                    </dl>-->
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 30px;">
            <form class="layui-form" action="">

                <div class="layui-form-item">
                    <label class="layui-form-label">新密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">至少六位数</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">确认密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">注意与新密码保持一致</div>
                </div>


                <div class="layui-form-item">
                    <div class="layui-input-block"><!-- 划分后直接返回弹出消息处理成功就OK -->
                        <button class="layui-btn" lay-submit lay-filter="formDemo">确认</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>

            </form>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © layui.com - 底部固定区域
        </div>
    </div>
    <script src="/static/layui/layui.js"></script>
    <script>
        //JavaScript代码区域
        layui.use(['element','form'], function(){
            var element = layui.element
                ,form = layui.form;

            //监听提交
            form.on('submit(formDemo)', function(data){
                layer.msg(JSON.stringify(data.field));
                return false;
            });
        });
    </script>
</body>
</html>