<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>竹种资源数据提取系统</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">竹种资源数据提取系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/user/manage">用户管理</a></li>

        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="/static/layui/images/face/system/user.jpg" class="layui-nav-img">
                    大鱼
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/person/personal">基本资料</a></dd>
                    <dd><a href="/user/password">修改密码</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">数据</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/data/spider">数据爬取</a></dd>
                        <dd><a href="/data/upload">数据上传</a></dd>
                        <dd><a href="/data/process">数据预处理</a></dd>
                        <!--                        <dd><a href="javascript:;">数据清理</a></dd>-->
                        <!--                        <dd><a href="">超链接</a></dd>-->
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">模型识别</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/regonition/regonized">识别处理</a></dd>
                        <dd><a href="javascript:;">预测结果</a></dd>
                        <!--                        <dd><a href="">超链接</a></dd>-->
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">数据抽取</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/extraction/extract">实体抽取</a></dd>
                        <dd><a href="javascript:;">抽取结果</a></dd>
                        <!--                        <dd><a href="">超链接</a></dd>-->
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 30px;">
            <form class="layui-form" action="">

                <div class="layui-form-item">
                    <label class="layui-form-label">选择语料</label>
                    <div class="layui-input-block">
                        <select name="city" lay-verify="required">
                            <option value=""></option>
                            <option value="0">baoboo.txt</option>
                            <option value="1">dic.txt</option>
                            <option value="2">ltp_stop_words.txt</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">预处理</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="like[write]" title="分词">
                        <input type="checkbox" name="like[read]" title="去除停用词">
                    </div>
                </div>
                <!--            <div class="layui-form-item layui-form-text">-->
                <!--                <label class="layui-form-label">结果显示</label>-->
                <!--                <div class="layui-input-block">-->
                <!--                    <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>-->
                <!--                </div>-->
                <!--            </div>-->

                <div class="layui-form-item">
                    <div class="layui-input-block"><!-- 开始处理后直接返回弹出消息处理成功就OK -->
                        <button class="layui-btn" lay-submit lay-filter="formDemo">开始处理</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © layui.com - 底部固定区域
        </div>
    </div>
    <script src="/static/layui/layui.js"></script>
    <script>
        //JavaScript代码区域
        layui.use(['element','form'], function(){
            var element = layui.element
                ,form = layui.form;

            //监听提交
            form.on('submit(formDemo)', function(data){
                layer.msg(JSON.stringify(data.field));
                return false;
            });
        });
    </script>
</body>
</html>